<div class="manga-list">
  <h2>📚 Liste des Meilleurs Mangas</h2>

  <div class="manga-grid">
    <div *ngFor="let manga of mangas" class="manga-card" [class.expanded]="expanded[manga.mal_id]">
      <a [routerLink]="'/manga/' + manga.mal_id">
        <img [src]="manga.images.webp.image_url" [alt]="manga.title">
      </a>
      <h3><a [routerLink]="'/manga/' + manga.mal_id">{{ manga.title }}</a></h3>
      <p><strong>⭐ Score :</strong> {{ manga.score }}</p>

      <p class="synopsis-container">
        <strong>📖 Synopsis :</strong>
        {{ expanded[manga.mal_id] ? manga.synopsis : manga.synopsis.substring(0, 150) + '...' }}
      </p>
    </div>
  </div>

  <button (click)="loadMore()" class="load-more-btn" [disabled]="isLoading">
    {{ isLoading ? 'Chargement...' : 'Charger plus' }}
  </button>
</div>
